body {
    margin: 0;
}

#kth-menu {
    background-color:#65656C;

    #kth-menu-container {
        position: relative;
        width: 100%;
        margin: 0 auto;

        .nav {
            max-width: 900px;
            width: 100%;
            margin: 0 auto;
        }

        .nav-item a {
            color: #fff;

            &:focus {
                background: #2191c4;
            }
            &:hover {
                background: #505056;
            }
        }

        #study-admin {
            h3 {
                border-bottom: solid 1px #bdbcbc;
            }
            .nav-item {
                border-bottom: solid 1px #bdbcbc;
                font-weight: 700;
            }

            .nav-item a {
                color: #262626;
                &:focus {
                    background: #bdbcbc;
                }
                &:hover {
                    background: #bdbcbc;
                }
                &.sub-nav {
                    font-weight: normal;
                }
            }
        }
    }

    #kth-menu-page-container {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        z-index: 99999;
        background-color: white;
        border-bottom: 2px solid #bdbcbc;
    }
    .kth-menu-page {
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        max-width: 1224px;
        background-color: white;
        color: #5E5E5E;
    }
}

.MenuCrossFade--Animation {
    &-cross-fade-active {
        overflow: hidden;
        transition: height .2s ease-in;
    }

    &-enter,
    &-leave-end {
        /* Enter animation start state */
        /* Leave animation end state */
        opacity: 0;
    }

    &-enter-active,
    &-leave-active {
        /* Enter animation transitions */
        /* Leave animation transitions */
        transition: opacity .2s ease-in;
    }

    &-enter-end,
    &-leave {
        /* Enter animation end state */
        /* Leave animation start state */
        opacity: 1;
    }
}

.PageAnimation {
    &-leave {
        // Leave animation start state
        // width: auto;
    }

    &-leave-active {
        // Leave animation transitions
        overflow: hidden;
        transition: height 0.2s ease-in, opacity .2s ease-in;
    }

    &-leave-end {
        // Leave animation end state
        // width: 0;
        height: 0;
        opacity: 0;
    }

    &-enter {
        // Enter animation start state
        height: 0;
        opacity: 0;
    }

    &-enter-active {
        // Enter animation transitions
        overflow: hidden;
        transition: height .2s ease-in, opacity .2s ease-in;
    }

    &-enter-end {
        // Enter animation end state
    }
}