body {
    margin: 0;
}

#kth-menu {
    background-color: black;
    #kth-menu-container {
        color: white;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
}